{
  "parser": "@oigroup/lightscript-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "no-console": 0,
    "no-debugger": 0
  },
  "extends": "eslint:recommended"
}
