{
  "presets": [
    [
      "@oigroup/babel-preset-lightscript",
      {
        "env": {
          "targets": { "node": 10 }
        },
        "additionalPlugins": ["babel-plugin-transform-es2015-classes"],
        "stdlib": { "lodash": false }
      }
    ]
  ]
}
